img{
	width: 200px;
}

body{
    font-family: 'Poppins', sans-serif;
  
}
	
 .demo-content {
        padding: 20px;
        border-radius: 10px;
        border: 4px solid #E41F20;
		margin-top:100px;
}

h3, i{
	color: #E41F20;
}

.ml-1 {
  margin-left: ($spacer * .65) !important;
}
