.aboutContent{
	border-radius: 5px;
	background-color: rgba(228, 31, 48, 0.6);
	color: white;
  font-size: 17px;
}

.m-auto{
	margin: 20rem;
}

.px-2 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.admin{
  		margin-top: 8px;
  	}

  	
  	.navbar-default .navbar-nav>li>a{
  		color: red;
  	}
  	.navbar-default .navbar-nav>li>a:hover{
  		color: red;
  		background-color:#ffffff;
  		border-radius: 2px;
  	}
  	 .navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: black !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
    border-radius: 5px;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: red!important;
  }

