<!-- base.html -->

{% load static %}
{% load i18n %} <!-- Load i18n for translation if needed -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="ckeditor/ckeditor/contents.css" rel="stylesheet">
    <style>
        .active {  
            color: #111010; /* Change color as needed */
            background-color: rgb(223, 217, 217);
            border-radius: 25px ;

        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% if user.is_authenticated  %} {% url 'studentdashboard'%} {% endif %}">
        <span class="logo">
            <img src="{% static 'assates/image/logo.png' %}" width="210" height="200" class="img-fluid"></span>
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
            
    
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item {% if request.path == '/userlogin/studentdashboard' %}active{% endif %}">
                    <a class="nav-link" href="studentdashboard">Home</a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li class="nav-item {% if request.path == '/userlogin/createmilestone' %}active{% endif %}">
                    <a class="nav-link" href="createmilestone">Create Milestone</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto"> <!-- Right-aligned links -->
            {% if user.is_authenticated %}
                <li class="nav-item">
                    {% trans 'Welcome' %}, <span class="navbar-text text-dark font-weight-bold"> {{ user.username }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="studentLogout">Logout</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{%block content%}
{% endblock content%}

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="ckeditor/ckeditor/ckeditor.js"></script>

</body>
</html>
